problems/sprint2/close-button/build/*
problems/sprint2/diary/build/*
problems/sprint2/hello-button/build/*
problems/sprint2/hello-without-button/build/*
problems/sprint2/label-size/build/*
problems/sprint2/melborp/build/*
problems/sprint2/photoalbum-1/build/*
problems/sprint2/photoalbum-2/build/
problems/sprint2/photoalbum-3/build/*
problems/sprint2/photoalbum-3/build/*
problems/sprint2/qplust/build/*
problems/sprint2/window-size-1/build/*
problems/sprint2/format-date/build/*
problems/sprint2/grocery/build/*
problems/sprint2/calendar-horoscope/build/*
problems/sprint2/photoalbum-4/build/*
problems/sprint2/alarm/build/*
problems/sprint2/final-task/build/*
problems/sprint2/snowflakes-1/build/*
problems/sprint2/snowflakes-2/build/*
problems/sprint3/magic-buttons/build/*
problems/sprint3/magic-buttons-2/build/*
problems/sprint3/magic-buttons-3/build/*
problems/sprint3/magic-buttons-4/build/*
problems/sprint3/sort-words/build/*
problems/sprint3/template-calculator/build/*
problems/sprint2/photoalbum-4/submission/images (Copy)/*
problems/sprint2/photoalbum-4/submission/images/*
problems/sprint4/gomoku/build/*
problems/sprint4/vector-emulator-01/build/*
problems/sprint4/vector-emulator-02/build/*
problems/sprint4/vector-emulator-03/build/*
problems/sprint4/vector-emulator-04/build/*
problems/sprint4/deque-emulator/build/*
problems/sprint4/filmoteka/build/*
problems/sprint4/map-emulator-01/build/*
problems/sprint4/meander/build/*
problems/sprint4/oraculum/build/*
problems/sprint4/vector-emulator-05/build/*
*pro.user
problems/sprint5/Map/build/*
problems/sprint5/logs-for-converter/build/*
problems/sprint5/robot-1-object-structure/build/*
problems/sprint5/robot-2-moving/build/*
problems/sprint5/robot-3-graphics/build/*
problems/sprint5/robot-4-darkener/build/*