problems/sprint2/close-button/build/*
problems/sprint2/diary/build/*
problems/sprint2/hello-button/build/*
problems/sprint2/hello-without-button/build/*
problems/sprint2/label-size/build/*
problems/sprint2/melborp/build/*
problems/sprint2/photoalbum-1/build/*
problems/sprint2/photoalbum-2/build/
problems/sprint2/photoalbum-3/build/*
problems/sprint2/photoalbum-3/build/*
problems/sprint2/qplust/build/*
problems/sprint2/window-size-1/build/*
